.indexbody {
    margin: 0;
   background-color: #ffffff;
   width: max-content;

}
  
.topnav {
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
    
   
    
}
  
.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #d5d5d5;
    color: black;
}   
.cl{
    position: relative;
    top: 90px;
    left: 400px;
    
}

.tot1{
    width: 800px;
    position: relative;
}
.tot2{
    width: 800px;
    position: relative;
  
}
.tot3{
    width: 800px;
    position: relative;
  
}
.tot4{
    width: 800px;
    position: relative;
  
}
.tot5{
    width: 800px;
    position: relative;
  
}
.tot6{
    width: 800px;
    position: relative;
  
}
.tot7{
    width: 800px;
    position: relative;
  
}
.tot8{
    width: 800px;
    position: relative;
  
}
.tot9{
    width: 800px;
    position: relative;
  
}
.tot10{
    width: 800px;
    position: relative;
  
}
.tot11{
    width: 800px;
    position: relative;
  
}
.tot12{
    width: 800px;
    position: relative;
  
}
.tot13{
    width: 800px;
    position: relative;
  
}
.tot14{
    width: 800px;
    position: relative;
  
}
.tot15{
    width: 800px;
    position: relative;
  
}
.tot16{
    width: 800px;
    position: relative;
  
}
.tot17{
    width: 800px;
    position: relative;
  
}
.tot18{
    width: 800px;
    position: relative;
  
}
.tot19{
    width: 800px;
    position: relative;
  
}
.tot20{
    width: 800px;
    position: relative;
  
}
.tot21{
    width: 800px;
    position: relative;
  
}
.tot22{
    width: 800px;
    position: relative;
  
}
.tot23{
    width: 800px;
    position: relative;
  
} 
.webname{
    position: absolute;
    left: 10px;
    top: 10px;
}
.tos1{
     width: 300px;
    position: relative;
    

}
.app1{
    position: relative;
    left: 250px;
    bottom: 25px;
}
.imgap{
    position: relative;
    height: 50px;
    width: 50px;
    top: 20px;
}
.button{
    background-color: #6c757d;
    border-radius: 7px;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 350px;
    top: 20px;
   
    
    
}
.button:hover{
    background-color: rgb(99, 217, 235);
    color: black;
    
    box-shadow: 5px 10px 5px gray;
    
}